
$text-color:            #2c3e50;
$link-color:            #0077ac;
$link-color-hover:      #004260;

$gray-dark:             #333;
$grayLighter:           #e3e3e3; //#eee;
$gray-lightest:         #f5f5f5;

$blue:                  #1E5799; //#049cdb;
$blueLight:				#2989D8; // egendefinert