
$text-color:            #2c3e50;
$linkColor:             #0077ac;

$grayLighter:           #e3e3e3; //#eee;
$gray-lightest:         #f5f5f5;

$blue:                  #1E5799; //#049cdb;
$blueLight:				#2989D8; // egendefinert