@use './variables' as v;

html,
body {
  height: 100%;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: v.$text-color;
}

*,
  *:before,
  *:after {
    box-sizing: border-box;
  }

.container {
  margin:0 auto;
  max-width: 56.25rem; //960px;	
  width: 100%;
  padding: 0 1rem 0 1rem;
  &:after{
    content:"";
    display:table;
    clear:both
  }
}

.text-center {
  text-align: center;
}


  
  #nav {
    text-align: center;
  
    padding: 30px;
  }
  
  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  #nav a.router-link-exact-active {
    color: #42b983;
  }
  
  
  .siteheader {  
    background-image: linear-gradient(to bottom, v.$blueLight, v.$blue);
  }

  .sitenav {
    a {
      text-decoration: none;
      color:#f1f1f1;
      padding: 2rem 1rem;
      display: inline-block;
      text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
      // border-bottom:1px solid v.$grayLighter;
      &.router-link-active,
      &:hover {
        color:#333;
        //text-decoration: underline;
         background-color:#f1f1f1;
      }
    }
  }

  .sitefooter {
    margin-top: 4.8rem;
    background-color: v.$text-color;
    color: #fff;
    min-height: 8rem;
    padding: 2.4rem 0;
  }
