@use './variables' as v;

html,
body {
  height: 100%;
}

*,
  *:before,
  *:after {
    box-sizing: border-box;
  }
.outer-app-wrapper {
  height: 100%;
}
.app-wrapper {
  height: auto;
  min-height: 100%;
  margin-bottom: -12rem;
  padding-bottom: 12rem;
}

main {
  margin-bottom: 9.2rem;
}

.page-not-found {
  min-height: 60vh;
  display:flex;
  .error-message {
    margin: auto;
  }
}

main {
  min-height: 60vh;
}


.container {
  margin:0 auto;
  max-width: 56.25rem; //960px;	
  width: 100%;
  padding: 0 1rem 0 1rem;
  &:after{
    content:"";
    display:table;
    clear:both
  }
}

.text-center {
  text-align: center;
}

.flex-wrap {
  display: flex;
}

.card {
  padding: 1rem;
  background-color: v.$gray-lightest;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
  
.siteheader {
  padding-top: 2rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  //background-color: v.$gray-dark;
}
.sitenav {
  place-self: center;
  display:flex;
  align-items: center;
  a {
    place-self: center;
    font-weight: 400;
    &:first-of-type {
      display: flex;
      align-items: center;
      span {
        margin-right: 1rem;
        padding-right: 1rem;
        border-right: 1px solid #333;
      }
    }
    &.router-link-active {
      color: #2c3e50;
      text-decoration: underline;
    }
  }
  .svg-wrapper {
    width: 1.2rem;
    height: 1.2rem;
    padding: .5rem;
    margin-right: 1rem;
    display: inline-block;
    background-color: black;
    border-radius: 50%;
    box-sizing: content-box;
    .svg-airplane {
      height: auto;
      width: 1.1rem;
      transform: rotate(-.03turn);
    }
  }
}

.sitefooter {
  box-sizing: border-box;
  background-color: v.$gray-dark;
  color: #fff;
  min-height: 12rem;
  padding: 2.4rem 0;
  a {
    color: #fff;
    &:hover,
    &:focus {
      color: burlywood;
    }
  }
}

@media screen and (min-width: 768px) {
  .sitenav {
    .svg-wrapper {
      width: 1.8rem;
      height: 1.8rem;
      // padding: .5rem;
      .svg-airplane { 
        width: 1.5rem;
        position: relative;
        top: 1px;
        left: 1px;
      }
    }
  }
  .siteheader {
    margin-bottom:3.5em;
  }
}

/*animation-name: spin-airplane;
      animation-duration: 1500ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;*/

/*@keyframes spin-airplane {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(350deg);
  }
}*/