@use './variables' as v;

html,
body {
  height: 100%;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: v.$text-color;
}

*,
  *:before,
  *:after {
    box-sizing: border-box;
  }

.container {
  margin:0 auto;
  max-width: 56.25rem; //960px;	
  width: 100%;
  padding: 0 1rem 0 1rem;
  &:after{
    content:"";
    display:table;
    clear:both
  }
}

.text-center {
  text-align: center;
}

.flex-wrap {
  display: flex;
}

.card {
  padding: 1rem;
  background-color: v.$gray-lightest;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
  
.siteheader {
  padding: 2rem;
  margin-bottom: 2.4rem;
  a {
    font-weight: bold;
    color: #2c3e50;
  }
  .router-link-active {
    color: v.$link-color;
  }
}

.sitefooter {
  margin-top: 4.8rem;
  background-color: v.$gray-dark;
  color: #fff;
  min-height: 8rem;
  padding: 2.4rem 0;
}
