// blog list (home.vue):
@use './variables' as v;

.post-item {
  box-sizing: border-box;
}

// single blog post::after

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
 

  .post-item {
    h2 {
      margin-top: 0;
    }
    .read-story {
      display:block;
      margin: 1.2rem 0;
      transition: .5s;
      color: v.$link-color;
      text-decoration: none;
      &:hover {
        color: v.$link-color-hover;
        text-decoration: underline;
      }
    }
  }

  .blogpost {
    /*fullvisning*/
    figure {
      margin: 1.2rem -1rem 1.2rem -1rem;
      padding: 1rem;
      background-color: v.$gray-lightest;
      img {
        vertical-align: middle;
      }
      figcaption {
          font-style: italic;
          margin: 0;
          padding-top: 1rem;
      }
    }
}