// blog list (home.vue):
@use './variables' as v;

.post-item {
  box-sizing: border-box;
}

// single blog post::after

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
  }
  h6 {
    color: #aaa;
    padding: 1em;
  }

  figure {
    margin: 0 0 1rem;
    figcaption {
        font-style: italic;
        //padding: .4rem;
        //background-color: v.$gray-lightest;
    }
  }