// blog list (home.vue):
@use './variables' as v;

.post-teaser {
  box-sizing: border-box;
  cursor: pointer;
}

.meta {
  margin: 1.2em 0;
  display: flex;
  font-style: italic;
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
  }
  .dot {
    padding: 0 .45rem;
    font-weight: 600;
  }
}

 
// fullvisning
.figure {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  background-color: v.$gray-lightest;
  img {
    vertical-align: middle;
  }
  figcaption {
      font-style: italic;
      margin: 0;
      padding: 1rem 1rem 0 1rem;
  }
}

.figure.photo {
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
}

.figure.map {
  margin: 1.2em 0;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .meta {
    font-size: 1.1rem;
  }
}