@use './variables' as v;

  body {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height:1.55;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: v.$text-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 0.5em 0;
  }
  
  h1 {
    font-size: 4rem;
    margin: 0 0 1em 0;
  }
  
  h2 {
    margin: 1.6em 0 0 0;
    font-size: 1.8rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.4rem;
  }
  
  h5 {
    font-size: 1.3rem;
  }
  
  h6 {
    font-size: 1.2rem;
  }

  .post-title {
    font-weight: 300;
    font-size:2rem;
  }
  
  .post-teaser,
  .blogpost {
    .post-title {
      margin: 0;
    }
  }

  article {
    text-align: justify;
    text-align-last: left;
    -ms-text-align-last: left;
    -moz-text-align-last: left;
  }
  
  p,
  ul,
  ol {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.2rem 0;
  }

  figcaption {
    font-size: 1rem;
    line-height: 1.5;
  }

  @media screen and (min-width: 768px) {
    p,
    ul,
    ol,
    figcaption {
      font-size: 1.2rem;
      line-height: 1.75;
    }
    .post-title {
      font-size: 2.8rem;
    }
  }
  
  a {
    color: v.$link-color;
    transition: color .2s;
    &:hover,
    &:focus {
      color: v.$link-color-hover;
    }
  }
  
  img {
    max-width: 100%;
  }
  
  hr {
    background-image: linear-gradient(
      to right,
      v.$gray-light, rgba(0 , 0, 0, .3),  v.$gray-light
    );
    border: 0;
    height: 2px;
    margin: 3rem auto;
  }
  
  blockquote {
    border-left: 4px solid #cccccc;
    font-size: 1.4em;
    font-style: italic;
    margin: 2rem 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  @media (max-width: 1020px) {
    h1 {
      font-size: 3rem;
    }
  
    h1 {
      font-size: 2.4rem;
    }
  }
  
  @media (max-width: 768px) {
  
    p,
    ul,
    ol {
      font-size: 1.2rem;
      margin: 1em 0;
    }
  }