@use './variables' as v;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Avenir, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.5em 0;
}
  
  h1 {
   // font-family: Roboto, serif;
    font-size: 4em;
    margin: 0 0 1em 0;
  }
  
  h2 {
    margin: 1.6em 0 0 0;
    font-size: 1.8em;
  }
  
  h3 {
    font-size: 1.5em;
  }
  
  h4 {
    font-size: 1.4em;
  }
  
  h5 {
    font-size: 1.3em;
  }
  
  h6 {
    font-size: 1.2em;
  }
  
  p,
  ul,
  ol {
    font-size: 1.2rem;
    line-height: 1.75;
    margin: 1.2rem 0;
  }

  figcaption {
    font-size: 1.3rem;
    line-height: 1.75;
  }
  
  a {
    color: v.$link-color;
    &:hover,
    &:focus {
      color: v.$link-color-hover;
    }
  }
  
  img {
    max-width: 100%;
  }
  
  hr {
    background-image: linear-gradient(
      to right,
      v.$gray-light, rgba(0 , 0, 0, .3),  v.$gray-light
    );
    border: 0;
    height: 2px;
    margin: 3rem auto;
  }
  
  blockquote {
    border-left: 4px solid #cccccc;
    font-size: 1.4em;
    font-style: italic;
    margin: 2rem 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .content h1 {
    font-size: 3em;
    margin: 1em 0;
  }
  
  @media (max-width: 1020px) {
    h1 {
      font-size: 3em;
    }
  
    .content h1 {
      font-size: 2.4em;
    }
  }
  
  @media (max-width: 480px) {
  
    p,
    ul,
    ol {
      font-size: 1.2rem;
      margin: 1em 0;
    }
  }